{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'converter.css' %}" />
  <title>Temperature Converter</title>
</head>

<body>

  <form method="post">
    {% csrf_token %}
    <h2>Temperature Converter</h2>
    <div class="temp">
      <label for="temperature">Enter Temperature:</label>
      <input type="text" id="temperature" name="temperature" required />
    </div>
    <select name="scale">
      <option value="C">Celsius</option>
      <option value="F">Fahrenheit</option>
    </select>
    <button type="submit">Convert</button>
  </form>
  {% if result %}
  <h3>Converted Temperature: {{ result }}</h3>
  {% else %}
  <p></p>
  {% endif %}

</body>

</html>