{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctors Clinic Application</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <div class="wrapper">

    <h1>Doctor List</h1>
    <ul id="doctors_list">
    </ul>
    <a href="http://127.0.0.1:8000/admin/" target="_blank">Admin Site</a>
    <a href="http://127.0.0.1:8000/doctors/" target="_blank">Doctors List Site</a>
    <a href="http://127.0.0.1:8000/api/auth/register/" target="_blank">Register</a>
    <br>

    <h2>Add Doctors</h2>
    <form id="doctorForm" method="post">
      {% csrf_token%}
      <input type="text" id="name" placeholder="Dr. Name"><br><br>
      <input type="text" id="specialization" placeholder="Specialization"><br><br>
      <input type="submit" value="Add Doctor">
    </form>

  </div>

  <script>
    fetch('http://127.0.0.1:8000/doctors/')
      .then(response => response.json())
      .then(data => {
        const list = document.getElementById('doctors_list');
        data.forEach(doctor => {
          const li = document.createElement('li');
          li.innerText = doctor.name;
          list.appendChild(li);

        })
      }).catch(error => console.error("Error is :", error))
    document.getElementById("doctorForm").addEventListener("submit", function (e) {
      e.preventDefault();
      // alert(document.getElementById("name").value);
      // alert(document.getElementById("specialization").value);

      // var name= document.getElementById("name").value;
      // var specialization= document.getElementById("specialization").value;

      fetch('http://127.0.0.1:8000/doctors/', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          name: document.getElementById("name").value,
          specialization: document.getElementById("specialization").value,
        })
      }).then(response => response.json())
        .then(data => console.log('Doctors added: ', data))
        .catch(error => console.error("Error is: ", error));

    })

  </script>
</body>

</html>